<div>
    <h1 style="text-align: center; font-weight: bold; text-decoration: underline;">TOP 15 SHOWS</h1>
    <br><br>
    <div class="table_div">
        <table class="show_table">
            <th>Show Title</th>
            <th>Show Rating</th>
            <th>Add to Recommendations?</th>
            <tr>
                <td>Supernatural</td>
                <td>9.5</td>
                <button>Add</button>
            </tr>
            <tr>
                <td>Monk</td>
                <td>7.25</td>
                <button>Add</button>
            </tr>
            <tr>
                <td>NCIS</td>
                <td>8.0</td>
                <button>Add</button>
            </tr>
            <tr>
                <td>Psych</td>
                <td>6.50</td>
                <button>Add</button>
            </tr>
            <tr>
                <td>How I Met Your Mother</td>
                <td>9.25</td>
                <button>Add</button>
            </tr>
        </table>
    </div>
</div>
