.main_container {
    padding: 10px;
    display: flex;
    width:100%;
}
    .list_index {
        margin-left: 118px;
        margin-top: 12px;
        border: 2px solid black;
        background-color: black;
        border-radius: 36px;
        padding: 8px 16px;
        height: 56px;
    }
    .list_container {
        border: 1px solid black;
        display: flex;
    }
    div {
        font-size: 24px;
        margin:auto;
        width: 75%;
    }
        .title_text {
            color: lightblue;
            width:75%;
        }
        .rating_text {
            color: yellow;
            width:25%;
            text-align: right;
            margin-right: 8px;
        }
            span {
                margin-left: 20px;
                text-decoration: rgba(84, 235, 189, 0.459) underline;
                font-weight: bold;
                font-size: 36px;
                letter-spacing: 2px;
                color: white;
            }
            .rating_span {
                text-decoration: none;
            }
        .del_btn {
            border: 1px solid red;
            background-color: red;
            padding: 0px 12px;
            border-radius: 64px;
            height: 38px;
            align-self: center;
            margin-left: 32px;
        }
