<div *ngIf="x < 3; then thenStatement; else elseStatement">
</div>
<ng-template #thenStatement>
    <div [ngClass]="setClasses()">
        <!-- <p #hello>gallery works!</p>
        <p>{{ x }}</p> -->
        <ul class='!displayBook'>
            <li *ngFor="let book of bookChoice; let i = index"
            [class.displayBook]="book.is_Added"
            >
                Title: {{book.title}}<br><br>
                Author: {{book.author}}<br><br>
                Year:{{book.yearPublished}}<br>
            </li>
        </ul>
        <button (click)="toggleDisplay($event)">Click</button>
    </div>
</ng-template>
<ng-template #elseStatement>Hello</ng-template>

